<div class="container">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">
        <i class="material-icons">cloud</i>Product Solution</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a (click)="Logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- <div class="text-center" style="margin-top:30px">
    <h5 class="page-header">Product Register</h5>
  </div> -->
  <div class="row"  style="margin-top:30px">
    <div class="col-md-4">
      <app-product *ngIf="productService.isAddProduct"></app-product>
      <app-product-transfer *ngIf="!productService.isAddProduct"></app-product-transfer>
    </div>
    <div class="col-md-7">
      <app-product-list></app-product-list>
    </div>
  </div>
</div>